<h1>{{title}}</h1>
<p>Chữa bài {{title}}</p>

<p style="color: red;">Giao diện Web</p>

<img src="https://i0.wp.com/crmviet.vn/wp-content/uploads/2019/05/san-pham-la-gi.jpg?fit=700%2C390&ssl=1" alt="">
